
html {

  font-size: 62.5%;
  box-sizing: border-box;
  
}

body , #root {
  height: 100vh;
  margin: 0;
}



.grid-container {
  display: grid;
  grid-template-areas:
   "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
   font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




header{
  grid-area: header;
  background-color: #192841;
  color:#CD7A00;
  padding: .5rem;

}
header a {
  color: #CD7A00;
}
header a:hover {
  color: #ffffff;
  text-decoration: none;
}

main{
  grid-area: main;
  color: #192841;

}

footer{
  grid-area: footer;
  background-color:#192841;
  color:#CD7A00;

}
.grid-container footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
